
<header>
	<nav class="d-flex bg-dark justify-content-between fs-2 ps-3 py-1">
		<h1>DASHBOARD ADMINISTRATEUR</h1>
		<div class="d-flex align-items-center fs-4">
			<a class="white_link px-5" href="list">Bandes dessinées</a>
			<a class="white_link px-5" href="author">Auteurs</a>
			<a class="white_link px-5" href="">Genres</a>
			<a class="white_link px-5" href="">Contacts</a>
		</div>
	</nav>
</header>

