{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}
{% block content %}
	{% include "Admin/_header.html.twig" %}
	<main>
		<a href=""><img id="return_button" src="" alt="">Retour</a>
		<h1 id="dashboard_title">bande-dessinées</h1>
		<div class="row justify-content-center table-responsive">
			<div class="col-8">
				<button id="add_button" type="button" class="btn btn-dark">Ajouter</button>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th style="width: 10%;">id</th>
							<th style="width: 35%;">Titre</th>
							<th style="width: 35%;">Auteur</th>
							<th colspan="2">Modifier / Supprimer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
							
							</th>
							<td>
								
							</td>
							<td></td>
							<td>
								<button id="add_button" type="button" class="btn btn-dark">éditer</button>
							</td>
							<td>
								<button id="add_button" type="button" class="btn btn-dark">Suppr.</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
