{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}
{% block content %}
	{% include "Admin/_header.html.twig" %}
	<main>
		<a href="/"><img id="return_button" src="/assets/images/bouton-retour.png" alt=""></a>
		<h1 id="dashboard_title">bandes dessinées</h1>
		<div class="row justify-content-center table-responsive">
			<div class="col-8">
				<table class="table table-responsive">
					<thead>
						<tr>
							<th style="width: 8%;">id</th>
							<th style="width: 40%;">Titre</th>
							<th style="width: 25%;">Auteur</th>
							<th colspan="2">Modif. / Suppr.</th>
						</tr>
					</thead>
					<tbody>
						{% for comic in comics %}
						<tr>
							<td>
								{{ comic.id }}
							</td>
							<td>
								{{ comic.title }}
							</td>
							<td>
								{{ comic.author_name }}

							</td>
							<td>
								<button id="add_button" type="button" class="btn btn-dark"><a href="edit?id={{ comic.id }}">éditer</a></button>
							</td>
							<td>
								<button id="add_button" type="button" class="btn btn-dark">Suppr.</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
