{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}
{% block title %}Author{{ parent() }}{% endblock %}
{% block content %}
	{% include "Admin/_header.html.twig" %}
	<main>
		<a class="white_link" href="/"><img id="return_button" src="/assets/images/bouton-retour.png" alt=""></a>
		<h1 id="dashboard_title">Liste des Auteurs</h1>
		<div class="row justify-content-center table-responsive">
			<div class="col-8">
				<a class="white_link" href="/admin/add"><input type="submit" id="add_btn" class="btn btn-dark" value="ajouter"></a>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th class="first_column">Prénom</th>
							<th class="second_column">Nom</th>
							<th class="add_suppr_column" colspan="2">Modif. / Suppr.</th>
						</tr>
					</thead>
					<tbody>
						{% for author in authors %}
						<tr>
							<td class="table_line">
								{{ author.first_name  }} 
							</td>
							<td class="table_line">
								{{ author.last_name }}
							</td>
							<td>
								<a href=""><input type="submit" id="edit_btn" class="btn btn-dark" value="éditer"></a>
							</td>
							<td>
								<form action="" method="POST">
									<input type="hidden" name="id" value="">
									<button type="submit" id="delete_btn" class="btn btn-dark" onclick= "return confirm('Voulez-vous supprimer cette BD ?')">suppr.</button>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
