{% extends 'layout.html.twig'%}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/search_style.css">
	<link rel="stylesheet" href="/assets/css/details_style.css">
    <link rel="stylesheet" href="/assets/css/admin_style.css">
	<link rel="icon" href="" type="image/svg+xml">

{% endblock %}

{% block title %}
	Admin - Détails BD {{ parent() }}

{% endblock %}

{% block content %}

        {% include "Admin/_header.html.twig" %}

		<div class="container-fluid return">
    		<a class="white_link" href="/admin/list"><img id="return_button" src="/assets/images/bouton-retour.png" alt=""></a>
		</div>
		
		{% include "User/_details_comics.html.twig" %}


{% block javascript %}

		<script src="/assets/JS/details_script.js"></script>

{% endblock %}

{% endblock %}