<main class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="website_title mb-5">B<span>d</span> C<span>ult'</span></h1>
    <form class="search_bar w-75 ps-3 pe-2 d-flex justify-content-between">
          <input class="search_input w-75 h-100 me-2 align-top" type="search" placeholder="Rechercher une BD..." aria-label="Search" required>
          <button class="search_button" type="submit"><img id="snag_icon" src="/assets/images/snag_icon.png" alt=""></button>
    </form>
</main>