body {
    background-color: var(--main_bg_color);
    font-family: var(--main_font);
    color: var(--main_font_color);
    --bg_input_color: #c9c3c3;
}

#return_button {
    width: 60px;
    height: 6vh;
    margin-top: 30px;
    margin-left: 50px;
}

.label_form_add_BD {
    font-size: x-large;
}

.asterisk {
    color: var(--main_border_color);
}

.input-bg {
    background-color: var(--bg_input_color);
}

.choose_pic_btn {
    margin: -35px 5px  0px 0px;
    align-items: center;
    float: right;
}



