.img_details {
    border-radius: 20px;
    /*border-radius: 20px 0px 0px 20px;*/
    /*border-right: 0.4rem solid yellow;*/
}

.img_sm_details {
    border-radius: 20px;
   /*border-radius: border-radius: 20px 20px 0px 0px; */
   /* border-bottom: 0.4rem solid yellow;*/
}

.bulle {
    position: relative;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    color: black;
}

.bulle::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 50px;
    right: calc(10% + 60px);
    bottom: -48px;
    background: white;
    box-shadow: 0 0 50px -10px rgb(34, 193, 195);
    clip-path: polygon(38% 0%, 100% 80%, 100% 0);
}

.author_name_details {
    color: #6AA3F9;
}

.detail_tome_date {
    color: #69696b
}

.detail_isbn {
    color: #69696b
}

.editor_name_details {
    color: rgb(79, 173, 101);
}

.detail_title {
    color: #D80505;
}


    
.pitch_details {
    -webkit-line-clamp: 15;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.accordion-header-resume {
    border-top: 1px solid rgb(122, 120, 120);
}


.accordion-element>h1 {
    color: black;
    margin: 0;
    cursor: pointer;
}

.accordion-content {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: 1s height;
}

.accordion-content>p {
    padding: 10px;
}
