
	<header class="container-fluid position-relative header_search order-md-1">
		<div class="row">
			<div class=" col-md-3 col-xl-2 col-10 d-flex justify-content-start justify-content-lg-start">
				<a href="#" onclick="history.back()"><h1 class="website_title ">B<span>d</span>
					C<span>ult'</span></a>
				</h1>
			</div>
			<div class="position-absolute">
		<a href="admin/list" class="position-absolute top-0 end-0 btn btn-lg mt-4 me-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><img id="admin_icon" src="/assets/images/admin_icon.png"></a>

		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Connexion à l'espace Adminstrateur</h5>


						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="auth" method="POST">
							<div class="container" id="spaceAdminConnexion">

								<label class="container" id="spaceAdminLogin" for="Name">Log in</label>
								<input class="modalInput" type="text" name="user_name" required>

								<label class="container " for="Name" id="spaceAdminMdp">
									Mot de passe</label>
								<input class="modalInput" type="password" name="password" required>

								<button class="btn btn-dark btn-lg m-4" id="buttonSubmit">SUBMIT</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-bs-dismiss="modal" id="buttonClose">fermer</button>

					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-xl-8 col-md-7 ">
			<form action="/" class="search_bar w-85 ps-3 pe-2 d-flex mt-2 mt-md-3 mb-4 mb-md-0 mb-lg-3 mb-xl-5 mt-lg-4 justify-content-center order-md-2" method="POST">
				<input class="search_input w-100 me-2 d-flex" type="search" list="completionList" autocomplete="off" name="keywords" placeholder="Rechercher une BD..." aria-label="Search" required>
				<datalist id="completionList">
            		{% for completion in completionList %}
            		    <option>{{ completion.user_research }}</option>
            		{% endfor %}
        		</datalist>
				<button class="search_button" type="submit"><img id="snag_icon" src="/assets/images/snag_icon.png" alt=""></button>
			</form>
		</div>
	</div>
	{% if emptySearch %}
		<p class="text-center text-warning">{{ emptySearch }}</p>
	{% endif %}
	
	</header>
